<div>
      
    {% form 'contact' %}

      {% if form.posted_successfully? %}
        <p class="note form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}

      {{ form.errors | default_errors }}

      {% assign name_attr = 'contact.form.name' | t | handle %}
      <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
      <input type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

      <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
      <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

      {% assign name_attr = 'contact.form.phone' | t | handle %}
      <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
      <input type="tel" id="ContactFormPhone" name="contact[{{ 'contact.form.phone' | t }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

      {% assign name_attr = 'contact.form.business-name' | t | handle %}
      <label for="ContactFormBusinessName" class="label--hidden">{{ customizations.wholesale.business_name | t }}</label>
      <input type="text" id="ContactFormPhone" name="contact[{{ 'contact.form.business-name' | t }}]" placeholder="Business Name">
      
      {% unless section.settings.businessTypes == blank %}
        {% assign business-types = section.settings.businessTypes | split: ',' %}      
        <label for="ContactFormTypeOfBusiness" class="label--hidden">{{ customizations.wholesale.business_type | t }}</label>
        <select id="ContactFormTypeOfBusiness" name="contact[Type of Business]">
            {% for type in business-types %}
                <option value="{{type}}">{{type}}</option>          
            {% endfor %}
        </select>
      {% endunless %}

      {% assign name_attr = 'contact.form.website' | t | handle %}
      <label for="ContactFormWebsite" class="label--hidden">{{ customizations.wholesale.website | t }}</label>
      <input type="text" id="ContactFormWebsite" name="contact[{{ 'contact.form.website' | t }}]" placeholder="Website">
      
      {% if section.settings.isOrderNumberEnabled %}
        <label for="ContactFormorderNumber" class="label--hidden">Order Number</label>
        <input type="text" id="ContactFormorderNumber" name="orderNumber" placeholder="Order Number" >
      {% endif %}
      <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
      <textarea rows="10" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

      <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

    {% endform %}
    
 </div>

 {% schema %}

 {
     "name": "Contact form",
     "settings": [
        {
            "type": "checkbox",
            "label": "Enable Order Number",
            "id": "isOrderNumberEnabled"
        },
        {
            "type": "text",
            "label": "Business Types (Comma Seperated)",
            "id": "businessTypes"
        }
     ]
 }

 {% endschema %}

